.about{
    margin-left: 135px;
    padding-top:101px;
    display: flex;
    height: 100vh;
}
.about-info{
    width:36%;
    

}
.about-header h1{
    font-size: 60px;
    color:#08fdd8;
    
}
.about-text{
    line-height: 18px;
    margin-top: 50px;
    font-size: 14px;
    color:#ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.about-text p{
    margin-bottom: 12px;
}