.contact{
    margin-left: 135px;
    padding-top:101px;
    display: flex;
    height: 100vh;
    margin-bottom: 100vh;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inp{
    padding: 18px 20px;
    margin-bottom: 13px;
    font-size: 15px;
    margin-right: 15px;
    background-color: #37393b;
    border:0;
    outline: 0;
    transition: all .4s;
}
.input-sub{
    width:100%;

}
.input-msg{
    width: 100%;
    height: 140px;
    
}
.inp:focus{
    border:0;
    border-bottom: 2px solid #08fdd8;
}
 #map {
        height: 100%;
        width: 100%;
     }